body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

a {
  display: block;
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
  max-width: 300px;
  text-decoration: none;
  color: black;
  border-radius: 25px;
}
